.fixed_button{
	position:fixed; 
	bottom:100px;      
	right:100px;      
	width:5em;    
	height:5em;    
	z-index:9998;    
	background-color:#337ab7;
	border-radius:2.5em;
	text-align:center;
	-webkit-transform: rotateY(180deg); /* Safari */
	transform: rotateY(180deg); /* Standard syntax */
	box-shadow: -2px 2px 5px grey;
}
div.fixed_button:hover {
	background-color:#23527c;
}
.pencil {
	color:white;
	text-decoration:none;
	
	font-size: 3.2em;
	cursor: pointer;
}
.b-popup{
    width:103%;
    min-height:100%;
	background-color: rgba(0,0,0,0.3);
    overflow:hidden;
    position:fixed;
    top:0px;
	left:-103%;
	z-index:9999;

}
 .b-popup-content{
    width:75vw;
	min-width:400px;
    height: 75vh;
	min-height: 370px;
    padding:10px;
    background-color: white;
	border: 1px solid white;
    border-radius:2px;
    box-shadow: 0px 5px 10px grey;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	overflow-y:auto;
}
.casetext {
	width:45vw;
	min-width:380px;
    height: 30vh;
	min-height: 270px;
	#border: hidden;
	resize: none;
}	
	


